<div class="container">
    <div class="row">
        <div class="col-md-12 text-left">
            <img src="/assets/img/burger.png" alt="burger" class="img-fluid" alt="Responsive image">
    </div>

    <div class="row">
        <div class="col-md-12 text-left" id="top-bar">
            <h1>Eat-Da-Burger!</h1>
        </div>

        <div class="col-lg-6 text-left" class="task">
            <div class="row">
                {{#each burger_data}}
                    {{#unless this.devoured}}  
                <div class="col-lg-9 text-left">  
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                 
            <div class="col-xs-3 text-left"> 
                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                <br>
                <button type="submit" class="btn btn-default">DEVOUR ME!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
            </div>
        </div>

        <div class="col-xs-6 text-left" class="task">
            {{#each burger_data}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder=
                    "{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
        </div>      
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-left enter_section">
        <form action="/burgers/create" method="POST">
            <input type="text" name="burger_name" class="form-control" 
            value="" id="enter_text">

            <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
        </form>
        <p>Enter in a burger you would like to eat!</p>
        </div>
    </div>
</div>